/* General Styles */

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

.section-header {
    margin: 20px;
    color: rgb(114, 114, 114);
}

/* Header Styles */

header {
    background: #9970f8;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.app-logo-text,
.username {
    font-weight: 100;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.current-user {
    border-left: solid 1px white;
}

.header-info {
    display: flex;
    align-items: center;
}

.notification-bell,
.header-title,
.header-info,
.avatar {
    margin: auto 10px;
}

/* Navbar Styles */

.navbar {
    background: #573a9b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

/* Main Header and Search Bar Styles */

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.headline {
    font-weight: 200;
    color: rgb(114, 114, 114);
}

#searchbox {
    height: 25px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 0.8rem;
}

/* Traffic Line Chart Styles */

.traffic-header {
    color: rgb(114, 114, 114);
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 20px;
}

.traffic-nav {
    display: flex;
}

.traffic-nav li {
    margin-left: 10px;
}

.traffic-chart-container {
    outline: solid 1px black;
}

/* Daily Traffic Bar Graph Styles */



/* Mobile Users Donut Graph Styles */



/* Social Stats Section Styles */

#social-stats-container {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.social-media-container {
    display: flex;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px;
    width: 30%;
    justify-content: space-evenly;
}

.social-media-logo {
    padding: 4px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px 2px;
}

.social-network-name {
    font-size: .7rem;
    color: #573a9b;
}

.social-network-numbers {
    font-size: 1.1rem;
}

/* New Members Section Styling & Recent Activity */

#new-members, #recent-activity {
    margin: 20px;
}

#new-members h3, #recent-activity h3 {
    color: rgb(114, 114, 114);
}

.member {
    margin: 15px;
}

.member-name, .date {
    font-size: .8rem;
    color: rgb(114, 114, 114);
}

.member-email {
    color: #573a9b;
    text-decoration: none;
    font-size: .8rem;
}

.member-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-stamp {
    color: rgb(114, 114, 114);
    font-size: .7rem;
}